body{
	background:url("images/") no-repeat fixed bottom;
	
}
.main-container{
	box-shadow: 0 0 50px #888888;
	width:70%;
	margin:auto;
}
header{
	padding:2%;
	background-color:#009fdb;
	display:flex;
	width:96%;
}
header h1{
	margin-left:20%;
	color:#FFF;
	margin-right:20%;
}
img{
	height:40%;
	width:40%;
	transition: transform 2s;
}
img:hover{
	transform:rotate(360deg);
	
}
header img{
	transition:height 2s,width 2s,position 2s,transform 2s;
	height:auto;
	width:auto;
}
header img:hover{
	position:absolute;
	height:300px;
	width:300px;
	transform:rotate(360deg);
}
nav{
	box-shadow: 0 0 50px #888888;
	width:30%;
	
}
nav ul{
	list-style-type:none;
}
nav ul>li{
	font-size:1.5rem;
	background-color:#FBBE76;
	color:white;
	padding:5%;
	margin-bottom:6%;
	transition:background-color 1s transform 1s;
}
nav ul>li a{
	color: #fff;
	text-decoration: none;
}
.active{
	background-color:hsl(30, 100%, 50%);
	
}
nav ul>li:hover {
	background-color:hsl(30, 100%, 50%);

	
}
header+div{
	display:flex;
	padding:2%;
}
.container{
	box-shadow: 0 0 50px #888888;
	width:70%;

}
.personal-container{
	padding:10%;
}
.personal-container img{
	margin-right:10%;
	margin-left:10%;
} 

/*tooltip */
a.tooltip .tooltiptext {
    visibility:hidden;
    width: 150px;
    height:auto;
    background-color: #009fdb;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    opacity:0;
    transition: visibility 1s,opacity 1s;
}
/*a.tooltip:hover .tooltiptext{
	visibility:visible!important;
	opacity: 1!important;    
	color:white;
}*/
