<!DOCTYPE html>
<html>
	<head>
		<title>To Do</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="js/main.js"></script>
		
		
	</head>
	<body ng-app="myApp">
	<div class="main-container">
		
		<div ng-controller="addTaskCtrl">
		<form ng-submit="save();">
			<fieldset>
			 <legend>Add a To Do</legend>
			Name of Task: <input type="text" ng-model="task" required><br>
			
			<input type="submit" value="Save" />
			</fieldset>
		</form>
		</div>
		<div ng-controller="getTaskCtrl">
			<fieldset>
			 <legend>Pending Tasks</legend>
			<ul>
				<li ng-repeat="pendings in pending">
				{{pendings}}
				<input type="button" value="Done" ng-click="complete(pendings);"/>
				</li>
			</ul>
			</fieldset>
			
			<fieldset>
			 <legend>Completed</legend>
			 <ul>
				<li ng-repeat="complete in completed">{{complete}}</li>
			</ul>
			</fieldset>
			
		</div>
	</div>
	</body>
	
</html>